.loginButton:hover {
    -fx-border-color: aqua;
    -fx-border-style: none none solid none;
    -fx-border-width: 0px 0px 1px 0px;
}

.loginPageTextField {
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-prompt-text-fill: rgba(255, 255, 255, .6);
}

.centeredTextArea .scroll-pane .content .text {
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    /*-fx-background-color: transparent;*/
}

.centeredTextArea {
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-background-color: rgba(255, 255, 255, .8);
    /*-fx-background-color: transparent;*/
}

.centeredTextArea .text-area {
    /*-fx-background-color: transparent;*/
    -fx-border-color: transparent;
    -fx-background-color: rgba(104, 104, 104, .3);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.loginPageTextField2 {
    -fx-background-color: rgba(104, 104, 104, .3);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-prompt-text-fill: rgba(255, 255, 255, .6);

}

.loginPage {
    -fx-background-color: transparent;
}

.background {
    -fx-background-image: url("../../../modules/SceneViews/images/minimalist-landscape-4k-jt.jpg");
    -fx-background-position: center;
    -fx-background-repeat: none;
    -fx-background-size: 140%;
}

.changeLogTxt {
    -fx-background-color: rgba(104, 104, 104, .3);
    -fx-text-fill: white;
    -fx-border-radius: 0px;
}

.changeLogTxt .text-area {
    -fx-background-color: rgba(104, 104, 104, .3);
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.versionText {
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Ailerons;
}

.scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.list-cell {
    -fx-background-color: rgba(104, 104, 104, .3);
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: transparent;
}

.web-view {
    -fx-background-color: transparent;
}

.web-view .scroll-pane {
    -fx-background-color: transparent;
}

.web-view .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.web-view .scroll-pane .content {
    -fx-background-color: transparent;
}

/*!* The main scrollbar **track** CSS class  *!
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

!* The increment and decrement button CSS class of scrollbar *!
.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

!* The increment and decrement button CSS class of scrollbar *!

.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

!* The main scrollbar **thumb** CSS class which we drag every time (movable) *!
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.mylistview .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.mylistview .scroll-bar:vertical .track {
    visibility: hidden;
}*/

.address .scroll-pane {
    -fx-background-color: transparent;
}

.address .scroll-bar .increment-button {
    visibility: hidden;
}

.address .scroll-bar .decrement-button {
    visibility: hidden;
}

.address .scroll-bar:vertical {
    -fx-background-color: rgba(104, 104, 104, .3);
}

.address .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.address .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.address .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(104, 104, 104, .3);
    visibility: hidden;
}

.address .scroll-bar .increment-arrow,
.address .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 1;
}

.text-input {
    -fx-text-fill: white;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
}